{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Task Management</h1>

  <p class="govuk-body">This is the main page for viewing and managing tasks.</p>
  <p class="govuk-body">You can create new tasks or view and edit existing ones.</p>
  <p class="govuk-body">Select a task to view its details or edit it.</p>

  {{ govukButton({
    text: "Create new task",
    href: "/tasks/create"
  }) }}

  {% if tasks | length == 0 %}
    <h2 class="govuk-heading-l">No tasks available</h2>
  {% else %}
    {{ govukTaskList({
      items: tasks
    }) }}
  {% endif %}
{% endblock %}
