{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

<!-- You may want to make further use of these components: https://design-system.service.gov.uk/components/
but ultimately it is up to you -->

{% block content %}

  {{ govukBackLink({
  text: "Back",
  href: "/tasks"
  }) }}

  <h1 class="govuk-heading-l">Task Details</h1>
  <p class="govuk-body">Here are the details of the task.</p>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Title"
        },
        value: {
          html: task.title
        },
        actions: {
          items: [
          ]
        }
      },
      {
        key: {
          text: "Description"
        },
        value: {
          html: task.description
        },
        actions: {
          items: [
          ]
        }
      },
      {
        key: {
          text: "Status"
        },
        value: {
          html: task.status.tag.text
        },
        actions: {
          items: [
              {
                  href: "/tasks/" ~ task.id ~ "/update",
                  text: "Update status",
                  visuallyHiddenText: "update task status"
              }
          ]
        }
      },
      {
        key: {
          text: "Due Date"
        },
        value: {
          html: task.due_date
        },
        actions: {
          items: [
          ]
        }
      }
    ]
  }) }}


  <form method="POST" action="/tasks/{{ task.id }}/delete">
    {{ govukButton({
      text: "Delete task",
      classes: "govuk-button--warning"
    }) }}
  </form>

{% endblock %}
